.App {
  text-align: center;
  background-color: oldlace;
}

#iyengar-img {
  height:auto;
  width: 5%;
}

.navbar {
  /* border-bottom: solid 1px black; */
}
.carousel-div {
  width: 80%;
  margin-top:1em;
  margin: auto;
  border-radius: 0em 25em 0em 25em;
  /* border: 2px solid rgb(31, 134, 17) */
  background: rgba(228, 207, 179, 0.7);
}

.carousel-image {
  height: 100%;
  border-radius: 0 20em 0 20em;
  background:rgb(229, 219, 180);
  margin: auto;
}

#carousel-main {
  margin: auto;
  width: 60%;
  
}
#carousel-item {
  height: 50%;
  width: 900px;
  margin: auto;
  border-radius: 25em 1em 25em 1em;
  border-left: cadetblue;
  border-right: cadetblue;
  border-width: 0 3px 0px 3px;
  /* border-style: solid; */
}


.caption {
  font-size: small;
}

.yoga-header {
  width: 30%;
  padding-top: 2em;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
.cardGroup {
  background-color: oldlace;
  display: flex;
  padding-bottom: 3em;
  margin-right: 1em;
}

.cyclamen {
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 3em;
  background: rgb(203, 214, 199, .8);
  border-radius: 10em;
  /* border-width: 2px;
  border-style: solid */
}

.cardBody {
  text-align: center;
  vertical-align: middle;
  background-color: oldlace;
}

.card {
  background: oldlace;
}


.footer-container {
  background: rgb(184, 112, 86);
  text-align: center;
}
.intro-container {
  height: 700px;
  width: 100%;
}
.mat-image {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 0 50em 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(203, 214, 199, .8);
  /* background-image: url('https://media.istockphoto.com/photos/top-view-of-yoga-accessories-rolled-exercise-mat-block-and-belt-top-picture-id1135210309?k=20&m=1135210309&s=612x612&w=0&h=Yz37xKO5Fvveo8rWWOZ3eRys0oRk7mevHhCuI8EO3Gk='); */
}

@media only screen and (max-width: 1360px) {
  .mat-image {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 0 50em 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    /* background-image: url('https://media.istockphoto.com/photos/top-view-of-yoga-accessories-rolled-exercise-mat-block-and-belt-top-picture-id1135210309?k=20&m=1135210309&s=612x612&w=0&h=Yz37xKO5Fvveo8rWWOZ3eRys0oRk7mevHhCuI8EO3Gk='); */
  }
}

.kym-intro {
  width: 25em;
  height:70%;
  margin-top: 3em;
  margin-right: 30em;
  float: right;
  border-radius: 3em 0 3em 0;
}

@media only screen and (max-width: 1360px) {
  .kym-intro {
    display: block;
    margin: auto;
  }
}

.kymage {
  border-radius: 3em 0 3em 0;
}