.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#iyengar-img {
  height:auto;
  width: 5%;
}

.navbar {
  /* border-bottom: solid 1px black; */
}
.carousel-div {
  margin-top:1em;
  border-radius: 0em 25em 0em 25em;
  border: 2px solid rgb(31, 134, 17);
  background: burlywood;
}

#carousel-main {
  margin: auto;
  width: 60%;
  
  /* border-left: cadetblue;
  border-right: cadetblue;
  border-width: 0 3px 0px 3px;
  border-style: solid; */
}
#carousel-item {
  height: 500px;
  width: 900px;
  margin: auto;
  border-radius: 25em 1em 25em 1em;
  border-left: cadetblue;
  border-right: cadetblue;
  border-width: 0 3px 0px 3px;
  border-style: solid; 
}

.caption {
  font-size: small;
}

.cardGroup {
  padding-bottom: 5em;
}
.cyclamen {
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 3em;
  background: rgb(119, 181, 184, .6);
  border-radius: 10em;
  /* border-width: 2px;
  border-style: solid */
}

.cardBody {
  text-align: center;
  vertical-align: middle;
}